.PlayerRow {
display: flex;
flex: 1; 
flex-direction: row;
}

.PlayerImage {
    max-width: 5rem;
    border-radius: 50%;
    padding: 0 1rem
}

.PlayerName {
    font-size: 1.5rem
}

.Stars {
    width: 2rem
}