.MainContent {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  flex-wrap: wrap;
}

.SelectLevel {
  display: flex;
  flex: 1;
  flex-direction: column;
  animation: slowShow 0.8s ease;
}

.SelectCategory {
  display: flex;
  flex: 1;
  flex-direction: row;
  animation: slowShow2 0.8s ease;
}

.Controls {
  display: flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

.MissingGameButtons {
  border: 5px solid #1857BC;
  background-color: #FFE44F;
  color: #FF5805;
  border-radius: 25px
}

.CardsContainer {
  animation: slowShow 0.8s ease;
}

/* The animation code */
@keyframes slowShow {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes slowShow2 {
    from {opacity: 0}
    to {opacity: 1}
}

