.NavBar {
  display: flex;
  background-color: #FF1493;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.NavBarLink {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 4px 10px 2px 10px;
  text-decoration: none;
  border-bottom: solid 4px transparent
}

.NavBarLink:hover {
  text-decoration: none;
  color: yellow;
  border-bottom: solid 4px chartreuse
}