.CardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Card {
    display: inline-block;
    width: 14%;
    transition: all 0.5s;
    perspective: 150rem;
    transform: rotateY(180deg);
}

.Card__Back {
    display: inline-block;
    width: 14%;
    transition: all 0.5s;
    perspective: 150rem;
    animation: showCard 0.5s ease;
}

.FunnyAnimal {
    position: relative;
    width: 20%
}

.FaceImage {
    z-index: 5;
    position: absolute;
    top: 46%;
    left: 34%;
    border-radius: 50%;
    width: 80px
}

@keyframes showCard {
    from {opacity: 0.3}
    to {opacity: 1}
}