.CardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Card {
    display: inline-block;
    width: 14% 
}

.CardSmall {
    display: inline-block;
    width: 12% 
}

.CardSmaller {
    display: inline-block;
    width: 10% 
}

.CardSmallest {
    display: inline-block;
    width: 8% 
}

.FunnyAnimal {
    position: relative;
    width: 20%
}

.FaceImage {
    z-index: 5;
    position: absolute;
    top: 46%;
    left: 34%;
    border-radius: 50%;
    width: 80px
}