.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    margin: 0% 5%
}

.ClassName {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 6px;
    font-size: 40px;
    border-bottom: 1px solid grey;

}

.RemoveClassIcon {
    padding: 5px 5px;
    font-size: 30px
}

.AddPlayerButton {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    background: lightskyblue;
    padding: 0px 5px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
}

.InputField {
    height: 22px;
    font-size: 18px;
}

.InputField::placeholder {
    font-size: 0.9rem;
}

.PlayerList {
    width: 100%
}

.AddPlayerInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 
}

